<!-- Potvrda da li hoce aukciju ili ne -->
<section class="auctionConfirm">
  <article class="auctionConfirm__body">
    <header class="auctionConfirm__body--thanks">
      <p>Thank you for flying with us!</p>
    </header>
    <header class="auctionConfirm__body--question">
      <p>Would you like to be part of our online auction?</p>
    </header>
    <section class="auctionConfirm__body--buttons">
      <button mat-raised-button color="primary" (click)="onYes()">Yes, please</button>
      <button mat-raised-button color="warn">Not Interested</button>
    </section>
    <mat-expansion-panel class="auctionConfirm__body--addedInfo" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Want to know more about this auction? Click me!
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>If we have any free seats in our Business class we will inform you and give you special chance to purchase it with a discount. We will notify you via email you provided if auction starts, and give you further information.</p>
    </mat-expansion-panel>
  </article>
</section>