<div class="room">
    <!-- Header -->
    <div class="header">
        <h1 class="header__h1">User</h1>
        <h1 class="header__h1 header__h1--m ">Room {{ servis.room[servis.index].room }}</h1>
        <button mat-raised-button color="warn" class="header__btn" (click)="onLeaveAuction()">Leave Auction</button>
    </div>

    <!-- Room Content -->
    <div class="content">
        <div class="leftSide">
            <div class="leftSide__user">
                <p class="leftSide__paragraf">{{servis.nameUser}}</p>
            </div>
            <ul class="leftSide__list">
                <p>Business Class Offer:</p>
                <li class="leftSide__list-item" *ngFor="let item of listPackage">&rsaquo; {{item}}</li>
            </ul>
        </div>
        <div class="rightSide">
            <div class="rightSide__content">
                {{ bids }}
            </div>
        </div>
    </div>

    <!-- Time -->
    <div class="time">
        <h2 class="time__h2">Time left for auction:</h2>
        <p class="time__timeLeft">{{flight.travelDate._seconds * 1000 | date:'dd/MM - hh:mmaaa'}}</p>
    </div>

    <!-- Bid-manual -->
    <div class="bid-manual">
        <form class="bid-manual-form" [formGroup]="bidingForm" (ngSubmit)="onBidSubmit()">
            <mat-form-field class="example-full-width">
                <mat-label>Enter a new price</mat-label>
                <input matInput formControlName="bidingPrice">
            </mat-form-field>
            <button mat-raised-button color="manual" class="header__btn header__btn--form" type="submit"
                [disabled]="!bidingForm.valid">Bid now</button>
        </form>
    </div>
</div>