//main webite color
$color-blue:#006272; 
$color-blue-light: #0292a8; 
$color-blue-light: #cef6fc; 
//plain black color
$color-black: #000;


.background{
    //Grey background over entire display
    width:100%;
    height: 100%;
    position:fixed;
    top:0;
    left: 0;
    background-image: linear-gradient(
    to right bottom,
    $color-blue,
    $color-blue-light);
    z-index: 9999;
    transition: all .3s;
    
}
.body{
    position: relative;
    top:20%;
    width: 30%;
    left: calc(50% - 15%);
    height: 250px;
    border-radius:30px;
    background-color: $color-blue-light;   
    &__close {
        position: absolute;
        top: 10%;
        right: 8%;
        font-size: 1.7rem;
        cursor: pointer;
        a:link,
        a:active,
        a:visited {
            text-decoration: none;
            color: #006272;
        }
        @media(max-width:768px){
            top: 13%;
            right: 6%;
        }
        @media(max-width:768px){
           
            right: 3%;

        }
    }
}
h1{
    text-align: center;
    padding-top:20px;
    letter-spacing: .1rem;
    font-weight: 600;
    color: #006272;
    @media(max-width:768px){
        font-weight: 400;
        margin-left: -2rem;
        font-size: 2rem;
        
    }
}
.bid-manual-form {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    button {
        margin-bottom: 1rem;
    }
}
@media(max-width:768px){

    .body{
        height: auto;
        width:50%;
        left: calc(50% - 25%);
    }
}