<div class="background">
    <div class="body">

        <h1>You won the auction!</h1>
        <div class="body__flight">
            <div class="body__flight--card">
                <img src="../../../assets/plane.svg" alt="plane image">
                <p><span>Business class</span>
                    <br>
                    from Los Angeles to New York
                </p>
            </div>
        </div>
        <button class="body__button" mat-raised-button color="primary">Buy now</button>
    </div>
</div>