<header>
    <div class="navigation">
      <div class="navigation__logo"></div>
      <div class="navigation__menu">
        <button class="navigation__menu--btnLogin" mat-stroked-button
          color="primary" [routerLink]="['/']">Log Out</button>
      </div>
    </div>
  </header>
  <div class="hack"></div>
  

<mat-card class="card-content" *ngFor="let flight of flights; let i = index">
    <div class="icon">
        <img class="icon__image" src="assets/plane.svg">
    </div>

    <div class="flight_info">
        <p>Economy</p>
        <h3 style="font-weight: 600;">{{flight.origin}} to {{flight.destination}}</h3>
        <p>{{flight.travelDate._seconds * 1000 | date:'dd/MM - hh:mmaaa'
        }}</p>
    </div>

    <div class="flight_time">
        <div class="flight_time-l">
            <h4>0{{4+i}}:00</h4>
            <div class="gornja"></div>
        </div>
        <div class="hack__1"></div>
        <div class="flight_time-r">
            <div class="donja"></div>
            <h4>0{{4+i}}:{{2+i}}5</h4>
        </div>
    </div>
    <div class="flight_btn">
            <button mat-flat-button color="primary" *ngIf="!flight.auctionStarted" (click)="onStartAuction(flight.flightID, i)" >Start Auction</button>
            <button mat-flat-button color="primary" *ngIf="flight.auctionStarted"  (click)="onViewAuction(flight.flightID)" >View Auction</button>
            <button mat-flat-button color="warn" style="margin-left: .5rem;" *ngIf="flight.auctionStarted"  (click)="onStopAuction(flight.flightID, i)" >Close Auction</button>
    </div>
</mat-card>

<app-footer></app-footer>