<footer>
    
    <div class="footer-top">
        <div class="footer-top-efekat">
            <p>Conditions of Carriage Imprint</p>
        </div>
        <div class="footer-top-efekat">
            <p>Terms of Service</p>
        </div>
        <div class="footer-top-efekat">
            <p>Privacy Statement</p>
        </div>
        <div class="footer-top-efekat">
            <p>Acceptable Usage Policy</p>
        </div>
    </div>
    
    <div class="footer-limit">
        <div class="copyright">
            <p>Copyright &#169; Avio Bid Group DAC and Avio Bid Ltd.</p>
        </div>
        <div class="blank"></div>
        <div class="icons">
            <img class="icons__iconOne" src="../../../assets/logo.png" alt="Company logo">
        </div>
    </div>
    
</footer>